*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;   
}
body{
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}
.logo{
    z-index: 999;
}
.img-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 800px 25px white;
    rotate: -30deg;
    z-index: -1;
}

/* container */
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -5%;
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    z-index: 999;
}
nav a:hover{
    color: #75D5FF;
}

.socials {
    display: flex;
    gap: 0.5rem; /* Adjust this value to bring icons closer or spread them out */
    align-items: center;
  }
  

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    background: linear-gradient(45deg, #1f1f1f 0%, #2c2c2c 50%, #3a3a3a 100%);
  }
  
  .social-icon {
    font-size: 1.3em;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    z-index: 999;
  }
  
  .text {
    position: absolute;
    color: white;
    font-weight: 600;
    opacity: 0;
    width: 120px;
    text-align: center;
    transition: 0.4s;
    z-index: 999;
  }
  
  /* Hover effect shared */
  .Btn:hover {
    width: 110px;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
  }
  
  .Btn:hover .social-icon {
    opacity: 0;
  }
  
  /*hover backgrounds */
  .insta:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  }
  
  .snap:hover {
    background: linear-gradient(45deg, #fffc00 0%, #ffeb3b 50%, #f1c40f 100%);
  }
  .snap:hover .text {
    color: black;
  }
  .linkedin:hover {
    background: linear-gradient(45deg, #0077b5 0%, #0077b5 50%, #005582 100%);
  }

  
  

/* Main Content */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh -6rem);
 }
 .content{
    max-width: 40rem;
    margin-left: 10%;
    margin-top: 20vh;
    z-index: 999;
 }
 .tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right,  #75D5FF, #2594F4);
    background-size: 200%;
    animation: animate 2.5s ease-in-out infinite reverse;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
 }
 @keyframes animate{
    to{ background-position: 200%; }
 }
 .tag-box .tag{
    position: absolute;
    inset: 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease; 
    cursor: pointer; 
 }
 .tag-box .tag:hover{
    color: #5300a0;
 }
.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.description{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: gray;
}
.button{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.get-started{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: .7rem 1.2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: background-color 0.2s ease;
}
.get-started:hover{
    background-color: rgb(26, 24, 24);
    color: white;
}
.sigin-main{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: .6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}
.sigin-main:hover{
    background-color: rgb(111, 113, 113);
    
}

/* robot */
.robot-3d{
    position: absolute;
    top: 0;
    right: -25%;
}
/* Mobile responsive */
@media (max-width: 768px){
    header{
        padding: 1rem .1rem;
    }
    nav{
        display: none;
    }
    header h1{
        font-size: 2rem;
    }
    .sign-in{
        padding: .6rem 1.5rem;
    }
    .content{
        margin-top: 25rem;
    }
    .robot-3d{
        scale: .5;
        top: -90px;
        right: 0;
    }
    .content{
        max-width: 30rem;
        margin-left: 10%;
    }
    .tag-box{
        width: 12rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .button {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
      }
    
      .get-started {
        padding: 0.6rem 1rem;
        font-size: 1rem;
        border-radius: 25px;
      }
    
      .sigin-main {
        padding: 0.6rem 2rem;
        font-size: 1rem;
        border-radius: 40px;
      }
    }